In [1]:
import pandas as pd
import numpy as np
import magic
from matplotlib import pyplot as plt
import importlib
%matplotlib inline
importlib.reload(magic)

In [2]:
runner = magic.Fluent()
(runner
     .create_historical_players(3)
     .battling_in_pairs()
     .on_maps('sample.json','Sierpinski-triangle.json')
     .repeating(10)
     .experiment('Historical')
     #.preview()
     .run().dump().store_pointwise('historical.csv')
)

In [8]:
runner.token

22027

In [6]:

data = pd.read_csv('historical.csv', index_col=False)

#data

In [4]:
groups = data.groupby(['server_name','map']).mean()['scores'].to_frame().reset_index()
pd.pivot_table(groups, index='map',values='scores',columns='server_name')

server_name               ConnectClosestMinesAi    Dummy  GreedyAi
map
Sierpinski-triangle.json                1775.65  182.875  1890.125
sample.json                               26.90   15.925    25.725